/* ------- Main Area ----- */
main{
    margin:20px 100px;
}
/* ------- Button Area ----- */
button{
    border: 2px solid #00000087;
    padding:3px 5px;
    border-radius:8px;
    transition: 0.5s;
}
button:hover{
    background-color: #000000c6;
    color: #fff;
}
/* ------- Price Calculation Area  ----- */
.price-calculate h3:after{
    content: " ";
    width: 60%;
    display: block;
    height:5px;
    border-bottom: 1px solid #5c5c5caa;
}
.price-calculate h3{
    padding-bottom: 10px;
    font-weight: bold;
}
.price-calculate h4{
    color: #000080;

}
/* ------- Price Discount Area  ----- */
.promo-code{
    border: 1px solid #00000087;
    padding: 5px 8px;
    border-radius:10px;
}
.discount-area button{
    background-color: #bd1717ae;
    border: none;
    color: #fff;
    padding: 8px 15px;
    font-weight: 500;
}
.discount-area button:hover{
    background-color:#bd1717;
    
}
.discount-price h2{
    border-top: 2px solid lightgray;
    color: #d24545;
    padding:20px 0;
    font-weight: 500;
}
.discount-area h4{
    display: none;
    background-color:#f51616ae;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    border-radius: 10px;
    padding:5px 0;
    font-weight: 500;
}